.checkbox{
    margin-right: 20px;
    
    
}
.check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid rgb(201, 194, 194);
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.svg{
    color: rgba(4, 17, 17, 0.596);
}


  