.input{
    margin-top: 170px;
    margin-left: 40px;
    width: 1000px;
    border: 2px solid rgba(243, 243, 20, 0.815);
    height: 20px;
  
}
.add{
    margin-left: 10px;
    background-color:rgba(0, 111, 139, 0.473); /* Green */
    border: none;
    width: 50px;
    height: 25px;
    border-radius: 2px;
    color:aliceblue;
    
}
