.input {
    border: 2px solid rgba(243, 243, 20, 0.815);
    height: 40px;
    font-size: large;
    border-radius: 3px;
}

input:focus {
    outline: none !important;
    border-color: rgba(243, 243, 20, 0.815);
}

.add {
    margin-left: 10px;
    background-color: rgba(6, 59, 90, 0.274);
    border: none;
    width: 60px;
    height: 45px;
    border-radius: 2px;
    color: aliceblue;
    font-size: large;
}

body {
    font-size: medium;
}

.taskinpadd {
    display: flex;
    flex: 1;
    flex-direction: column;

}

.ajj {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.err {
    color: red;
}

.error input:focus {
    outline: none !important;
    border-color: red;
}

@media screen and (max-width:600px) {
    .ajj {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
    }
    .taskinpadd{
        width: 100%;;
    }
}