/*.hideComp{
float: right;
margin-top: 120px; 
margin-right: 50px;   

}
 
input.box{
  float: right;
 
 }
 .task{
   margin-top: 100px;
 }*/

 .checkBox{
  display: flex;
  /*align-items: flex-start; */
  justify-content: flex-end;
 }

