.hideComp{
  position: absolute;
  left: 1050px;
  top: 130px;
  z-index: -10;
}
.task{
  position: absolute;
  left: 40px;
  top: 150px;
  z-index: -10;
}
input.box{
  position: absolute;
  left: 1030px;
  top: 130px;
  z-index: -10;
 }


