.mm{
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    background-color: rgb(198, 202, 206);
    color: rgba(7, 91, 148, 0.904);
    margin-left: 500px;
    top: 70px;
    z-index: -5;
    text-align: center;
    
}
.yes{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 8px ;
    cursor: pointer;
    color: rgb(28, 36, 39);
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(198, 202, 206);
}
.no{
    background-color: rgb(198, 202, 206);
    border: none;
    color: rgb(28, 36, 39);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 8px;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
